@import "tailwindcss";

body{
    overflow-x:  hidden;
}

::-webkit-scrollbar{
    width:1rem;
}

::-webkit-scrollbar-track{
    background-color: black;
}

::-webkit-scrollbar-thumb{

    background: #fff;
    border:5px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}





